{% extends 'main.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <h1 class="mb-4">Schedule Live Class</h1>
    <div class="card p-4">
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Course</label>
          {{ form.course|add_class:"form-select" }}
        </div>
        <div class="mb-3">
          <label class="form-label">Title</label>
          {{ form.title|add_class:"form-control" }}
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          {{ form.description|add_class:"form-control" }}
        </div>
        <div class="mb-3">
          <label class="form-label">Scheduled Date &amp; Time</label>
          {{ form.scheduled_datetime|add_class:"form-control" }}
        </div>
        <div class="mb-3">
          <label class="form-label">Meeting Link</label>
          {{ form.meeting_link|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-2">Schedule</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
